.admin_page {
  width: 95%;
  height: 100%;
}

.activity_list {
  max-width: 100%;
}

.activity_list-admin {
  max-width: 100%;
  overflow: auto;
}

.activity_action_btn:hover {
  cursor: pointer;
  transition: all 0.5s ease-in;
  transform: scale(1.2);
}

.send_form_activities {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}
