header {
    width:100%;
    position:fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 999;
}
.content {
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: calc(100vh - 56px);
    padding-top: 56px;
}
.not_found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #eeeeee;
}

.sort_button {
    padding: 0;
    border: none;
}

.card_secondary_info {
    font-size: 13px;
}

.card_price_month {
    font-size: 13px;
}

.activity_card  {
    font-size: 16px;
}

.wrapper {
    max-width: 500px;
}

.button_to_top {
    width: 64px;
    height: 64px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 25px; /* Place the button at the bottom of the page */
    right: 16px; /* Place the button 30px from the right */
    z-index: 999; /* Make sure it does not overlap */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 18px; /* Increase font size */
  }
  

/*table {*/

/*    border-spacing: 0 8px !important;*/
/*    border-collapse: separate !important;*/
/*}*/

/*.table tbody tr {*/
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)!important;*/
/*    border-radius: 8px!important;*/
/*}*/
/*.table tbody tr td {*/
/*    background: #fff !important;*/
/*}*/
/*.table tbody tr td:nth-child(1) {*/
/*    border-radius: 5px 0 0 5px !important;*/
/*}*/
/*.table tbody tr td:nth-last-child(1) {*/
/*    border-radius: 0 5px 5px 0 !important;*/
/*}*/
footer {
    background: #1f3a79;
}

#card-main-container{
    padding: 16px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)!important;
    border-radius: 8px;
    margin-top: 1rem;
}

#outer-card-container h5 a{
    color: black !important;
}

#outer-card-container img:hover{
    transform: scale(1.1);
    transition: all 1s;
}

#outer-card-container a{
    text-decoration: none !important;
}

