.middle {
	position: relative;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.multi-range-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slider_values {
    width: 100%;
    padding-top: 8px;
}

.slider_right_value {
    float: right;
}

.slider, .slider-amount, .slider-duration, .slider-price, .slider-price-month {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 10px;
    width: 100%;
    align-self: center;
}
.slider > .track{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #e4e4e4;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #437aff;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	transition: box-shadow .3s ease-in-out;
    
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-10px, -5px);
}
.slider > .thumb.right{
	right: 25%;
	transform: translate(10px, -5px);
}
.slider > .thumb.hover{
	box-shadow: 0 0 0 5px rgba(67,122,255,.1);
}
.slider > .thumb.active{
	box-shadow: 0 0 0 10px rgba(67,122,255,.2);
}

.slider-price {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 10px;
    width: 100%;
    align-self: center;
}
.slider-price > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #e4e4e4;
}
.slider-price > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #437aff;
}
.slider-price > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	transition: box-shadow .3s ease-in-out;
    
}
.slider-price > .thumb.left {
	left: 25%;
	transform: translate(-10px, -5px);
}
.slider-price > .thumb.right {
	right: 25%;
	transform: translate(10px, -5px);
}
.slider-price > .thumb.hover {
	box-shadow: 0 0 0 5px rgba(67,122,255,.1);
}
.slider-price > .thumb.active {
	box-shadow: 0 0 0 10px rgba(67,122,255,.2);
}


input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 4;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}




.slider-price-month {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 10px;
    width: 100%;
    align-self: center;
}
.slider-price-month > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #e4e4e4;
}
.slider-price-month > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #437aff;
}
.slider-price-month > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	transition: box-shadow .3s ease-in-out;
    
}
.slider-price-month > .thumb.left {
	left: 25%;
	transform: translate(-10px, -5px);
}
.slider-price-month > .thumb.right {
	right: 25%;
	transform: translate(10px, -5px);
}
.slider-price-month > .thumb.hover {
	box-shadow: 0 0 0 5px rgba(67,122,255,.1);
}
.slider-price-month > .thumb.active {
	box-shadow: 0 0 0 10px rgba(67,122,255,.2);
}

.slider-duration {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 10px;
    width: 100%;
    align-self: center;
}
.slider-duration > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #e4e4e4;
}
.slider-duration > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #437aff;
}
.slider-duration > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	transition: box-shadow .3s ease-in-out;
    
}
.slider-duration > .thumb.left {
	left: 25%;
	transform: translate(-10px, -5px);
}
.slider-duration > .thumb.right {
	right: 25%;
	transform: translate(10px, -5px);
}
.slider-duration > .thumb.hover {
	box-shadow: 0 0 0 5px rgba(67,122,255,.1);
}
.slider-duration > .thumb.active {
	box-shadow: 0 0 0 10px rgba(67,122,255,.2);
}

.slider-amount {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 10px;
    width: 100%;
    align-self: center;
}
.slider-amount > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #e4e4e4;
}
.slider-amount > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #437aff;
}
.slider-amount > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	transition: box-shadow .3s ease-in-out;
    
}
.slider-amount > .thumb.left {
	left: 25%;
	transform: translate(-10px, -5px);
}
.slider-amount > .thumb.right {
	right: 25%;
	transform: translate(10px, -5px);
}
.slider-amount > .thumb.hover {
	box-shadow: 0 0 0 5px rgba(67,122,255,.1);
}
.slider-amount > .thumb.active {
	box-shadow: 0 0 0 10px rgba(67,122,255,.2);
}