<div class="admin_page p-2">
    <div class="nav_admin">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Активности</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/types">Типы активностей</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/institutes">Учреждения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">Пользователи</a>
                {#            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
            </li>
        </ul>
    </div>

    {% include 'partials/form/activities.twig' %}
    {% include 'partials/table/activities.twig' %}

</div>

