<link href="/src/css/admin.css" rel="stylesheet">
<div class="admin_page p-2 mt-4">
    {% include 'admin/partials/tabs.twig' %}

    {% set activeTab = tabs|filter((v, k) => v.is_active == true) %}
    {% set page_admin = true %}

    {% if activeTab|first.tab == 'activities' %}
        {% include 'admin/forms/activities.twig' %}
        {% include 'partials/tables/activities.twig' %}
    {% elseif activeTab|first.tab == 'types' %}
        {% include 'admin/forms/types.twig' %}
        {% include 'admin/tables/types.twig' %}
    {% elseif activeTab|first.tab == 'institutes' %}
        {% include 'admin/forms/institutes.twig' %}
        {% include 'admin/tables/institutes.twig' %}
    {% elseif activeTab|first.tab == 'users' %}
        {% include 'admin/forms/users.twig' %}
        {% include 'admin/tables/users.twig' %}
    {% else %}
        {% include 'admin/forms/activities.twig' %}
        {% include 'partials/tables/activities.twig' %}
    {% endif %}
</div>
<script src="/src/scripts/admin.js"></script>