

<h1>Произошла ошибка: </h1><br>
<p><b>Код ошибки: </b> {{$errno}}</p>
<p><b>Текст ошибки: </b> {{$errstr}}</p>
<p><b>Файл, в котором произошла ошибка: </b> {{$errfile}}</p>
<p><b>Строка, в котором произошла ошибка: </b> {{$errline}}</p>