<div class="card_list mb-2">

    {% for activity in activities %}
        {% include 'activities/item_mobile.twig' %}
    {% else %}
        <div class="h-100 d-flex align-items-center justify-content-center">
            <h2>Список активностей пуст</h2>
        </div>
    {% endfor %}
</div>