<div class="activity_list">
    <div class="container loader"></div>
    <table class="table table-striped table-hover align-middle mt-5">
        <thead>
        <tr class="align-top text-center">
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Учреждение</th>
            <th scope="col">Тип активности</th>
            <th scope="col">Возраст детей</th>
            <th scope="col">Частота</th>
            <th scope="col">Длительность</th>
            <th scope="col">Стоимость за занятие</th>
            <th scope="col">стоимость за месяц</th>
            <th scope="col">Контакты</th>
        </tr>
        </thead>
        <tbody class="activity_list_rows">
        {% for activity in activities %}
            {% include 'activities/item.twig' %}
        {% else %}
            <tr>
                <th colspan="10" class="text-center">Список активностей пуст.</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>