<div class="activity_create_form">
    <form class="row js-types-form" id="form-edit" method="post" action="/admin/createInstitutes">
        <div class="mb-3 col-9">
            <label for="title" class="form-label">Название</label>
            <input  type="hidden" class="form-control js-type-id" name="id">
            <input type="text" class="form-control js-types-input" id="title" name="title" aria-describedby="emailHelp">
        </div>
        <div class="send_form_activities col-3 ">
            <button class="btn btn-secondary mx-3 js-button-clear">Очистить</button>
            <button type="submit" class="btn btn-primary js-button-submit" onclick="return confirm('Вы уверенны что хотите сохранить?')">Добавить</button>
        </div>
        <p class="h5 text-success js-types-notification">Идет редактирование "типа активности": </p>
    </form>
</div>