<div class="activity_create_form">
    <form class="row js-types-form" id="form-edit" method="post"
        {% if oldFields and oldFields.id %}
            action="/admin/updateTypes"
        {% else %}
            action="/admin/createTypes"
        {% endif %}
    >
        <div class="mb-3 col-9">
            <label for="title" class="form-label">Название</label>
            <input  type="hidden" class="form-control js-type-id" name="id"
                {% if oldFields and oldFields.id %}
                    value="{{ oldFields.id }}"
                {% endif %}
            />
            <input  type="text" class="form-control js-types-input" id="title" name="title" aria-describedby="emailHelp"
                {% if oldFields and oldFields.title %}
                    value="{{ oldFields.title }}"
                {% endif %}
            />
            {% if errorsFields and errorsFields.title %}
                <span class="text-danger js-errors-notification">{{ errorsFields.title }}</span>
            {% endif %}
            {# <input  type="hidden" class="form-control js-edit-notification-element" id="notification" aria-describedby="emailHelp" /> #}
        </div>
        <div class="send_form_activities col-3 ">
            <button class="btn btn-secondary mx-3 js-button-clear">Очистить</button>
            <button type="submit" class="btn btn-primary js-button-submit" onclick="return confirm('Вы уверенны что хотите сохранить?')">Добавить</button>
        </div>
        <div class="js-types-notification"></div>


        {# {% if type.id.value > 0 %} #}
        {# <div class="js-types-notification">{{types.id}}</div> #}
        {# {% endif %} #}



        
    </form>
</div>