<?php

return [
    // конфигурация настроек подключения к базе данных
    'db_driver' => 'mysql',
    'db_host' => 'localhost',
    'db_database' => 'a0678406_db',
    'db_user' => 'root',
    'db_password' => 'root',
    'db_charset' => 'utf8',
    // конец настройки подключения к базе данных

    // корневая директория шаблонов по клиентской части
    'views_dir' => 'views',
    

    /* К ключу "default_controller" присваивается название контроллера, которое при переходе на сайт 
            пользователю открывает страницу по умолчанию.
       В нашем случае это страница "activities". */
    'default_controller' => 'activities',

    // Время хранения куки для зарегистрированного пользователя
    'cookie_time' => 60*60*24*30,
];
