<div class="container d-flex flex-column mt-4 mb-4">
    <form class="d-flex justify-content-center align-self-center w-100" role="search">
        <input class="form-control mw-100 is-input-search" type="search" placeholder="Поиск" aria-label="Search">
    </form>
    <div class="filters">
        <div class="filters_buttons mt-3">
            <div class="dropdown me-2">
                <select class="btn btn-primary dropdown-toggle js-order-by-institute">
                <option value="default" selected>Учреждение</option>
                    {% for institute in institutes %}
                    <option value="{{ institute.title }}">{{ institute.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="dropdown me-2">
                <select class="btn btn-primary dropdown-toggle js-order-by-type">
                <option value="default" selected>Тип</option>
                    {% for type in types %}
                    <option value="{{ type.title }}">{{ type.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="dropdown me-2">
                <select class="btn btn-primary dropdown-toggle js-order-by-fields menu_dowm_animate">
                    <option value="id" selected>Сортировка</option>
                    <option value="title">Название</option>
                    <option value="amount_of_week">Раз в неделю</option>
                    <option value="duration_time">Продолжительность</option>
                    <option value="price">Цена</option>
                </select>
                <i class="fa-solid fa-arrow-down-short-wide fa-xl text-primary align-self-center js-order-items order_btn" role="button"></i>
            </div>
        </div>
        <div class="accordion w-50 mt-3">
            <div class="accordion-item">
                <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    Фильтры
                </button>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="sliders p-4">
                        {% include 'partials/age_slider.twig' %}
                        {% include 'partials/amount_slider.twig' %}
                        {% include 'partials/duration_slider.twig' %}
                        {% include 'partials/price_slider.twig' %}
                        {% include 'partials/price_month_slider.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% include 'partials/activities_list.twig' %}
        {% include 'partials/activities_list_mobile.twig' %}
    <button onclick="topFunction()" class="btn btn-primary rounded-circle button_to_top" id="buttonToTop" title="Наверх"><i class="fa-solid fa-angles-up"></i></button>
</div>