<style>
    .order_btn {
        transition: transform .5s ease-in-out;
    }
    .checked {
        transform: rotate(180deg);
    }
    .btn {
        -webkit-transition: all 1s cubic-bezier(0.79, 0.33, 0.14, 0.53);
    }
</style>
<div class="container d-flex flex-column mt-4 mb-4">
    <form class=" d-flex justify-content-center align-self-center w-100" role="search">
        <input class="form-control me-2 mw-100 is-input-search" type="search" placeholder="Поиск" aria-label="Search">
{#        <button class="btn btn-outline-primary" type="submit">Найти</button>#}
    </form>
    <div class="d-flex mt-3">
{#        <div class="dropdown me-2">#}
{#            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Тип</button>#}
{#            <div class="dropdown-menu">#}
{#                {% for type in types %}#}
{#                    <a href="#" class="dropdown-item">{{ type.title }}</a>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
        <div class="dropdown me-2">
            <select class="btn btn-primary dropdown-toggle js-order-by-fields menu_dowm_animate">
                <option value="id" selected>Сортировка</option>
                <option value="title">Название</option>
                <option value="amount_of_week">Раз в неделю</option>
                <option value="duration_time">Продолжительность</option>
                <option value="price">Цена</option>
            </select>
        </div>
        <i class="fa-solid fa-arrow-down-short-wide fa-xl text-primary align-self-center js-order-items order_btn" role="button"></i>
    </div>
        {% include 'partials/activities_list.twig' %}
        {% include 'partials/activities_list_mobile.twig' %}
        <button onclick="topFunction()" class="btn btn-primary rounded-circle button_to_top" id="buttonToTop" title="Go to top"><i class="fa-solid fa-angles-up"></i></button>
        <div id="spinner">
            <div class="spinner-border spinner-border-md text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
<script>


{#    TODO: использовать fetch. Отказаться от JQ#}

    const params = {
        offset: 0,
        search: null,
        order_by: 'id',
        order: 'ASC'
    }

    // let offset = 0;
    let search = document.querySelector('.is-input-search');
    let orderBy = document.querySelector('.js-order-by-fields');

    let order = document.querySelector('.js-order-items');

    order.addEventListener('click', (e) => {
        if (params.order === 'ASC') {
            params.order = 'DESC';
        } else {
            params.order = 'ASC';
        }
        e.target.classList.toggle("checked")
        loadMoreData(params, true);
    })

    search.addEventListener('input', (e) => {
        if(e.target.value.length >= 1) {
            params.offset = 0;
            params.search = search.value
            loadMoreData(params, true);
        }
    })

    orderBy.addEventListener('change', (e) => {
        params.order_by = e.target.value;
        loadMoreData(params, true);
    })

    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
            params.offset = document.querySelectorAll('.activity_card').length;
            loadMoreData(params);
        }
    });

    let cardListMobile = document.querySelector('.card_list')
    let cardList = document.querySelector('.activity_list_rows')

    function loadMoreData(params, is_search) {
        $.ajax({
            url: '/activities/index/', 
            method: 'GET',         
            dataType: 'json',          
            data: params,
            success: function(data){
                if(is_search) {
                    cardListMobile.innerHTML = data.html_mobile;
                    cardList.innerHTML = data.html;
                } else {
                    cardListMobile.innerHTML += data.html_mobile;
                    cardList.innerHTML += data.html;
                }
            },
            complete: function () {
                $('#spinner').hide();
            }
            
        });
    }

    mybutton = document.getElementById("buttonToTop");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0; 
        document.documentElement.scrollTop = 0; 
    }
    
</script> 

