<div class="container d-flex flex-column">
    <form class=" d-flex justify-content-center align-self-center w-100" role="search">
        <input class="form-control me-2 mw-100" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Найти</button>
    </form>
    <div class="d-flex mt-3">
        <div class="dropdown me-2">
            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Тип</button>
            <div class="dropdown-menu">
                {% for type in types %}
                    <a href="#" class="dropdown-item">{{ type.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown me-2">
            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Сортировать</button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Название</a>
                <a href="#" class="dropdown-item">Учреждение</a>
                <a href="#" class="dropdown-item">Тип</a>
                <a href="#" class="dropdown-item">Цена</a>
            </div>
        </div>
        <i class="fa-solid fa-arrow-down-short-wide fa-xl text-primary align-self-center ms-auto" role="button"></i>
    </div>
        {% include 'partials/activities_list.twig' %}
        {% include 'partials/activities_list_mobile.twig' %}
        <button onclick="topFunction()" class="btn btn-primary rounded-circle button_to_top" id="buttonToTop" title="Go to top"><i class="fa-solid fa-angles-up"></i></button>
        <div id="spinner">
            <div class="spinner-border spinner-border-md text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
<script>
    let last_id = 1;
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
            last_id = document.querySelectorAll('.activity_card').length;
            loadMoreData();
        }
    });

    let cardListMobile = document.querySelector('.card_list')
    let cardList = document.querySelector('.activity_list_rows')

    function loadMoreData() {
        $.ajax({
            url: '/activities/index/', 
            method: 'GET',         
            dataType: 'json',          
            data: {last_id: last_id},     
            success: function(data){   
                cardListMobile.innerHTML += data.html_mobile;           
                cardList.innerHTML += data.html;          
            },
            complete: function () {
                $('#spinner').hide();
            }
            
        });
    }

    mybutton = document.getElementById("buttonToTop");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    function topFunction() {
        document.body.scrollTop = 0; 
        document.documentElement.scrollTop = 0; 
    }
    
</script> 

