<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Портал</title>
    <script src="https://kit.fontawesome.com/30ac606873.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/src/css/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">FilterO</a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="/admin" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        $USERNAME
                    </a>
                    <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a href="/admin" class="dropdown-item"><i class="fa-solid fa-hammer"></i> Панель администратора</a></li>
                        <li><a class="dropdown-item" href="/auth"> <i class="fa-solid fa-address-card"></i> Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/auth"><i class="fa-solid fa-door-open"></i> Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="content mt-4 mb-4">
    {{ content | raw }}
</main>

<footer>
    <div class="text-center p-3 text-white">
        © 2022 SunWeb:
        <a class="text-white" href="https://sunweb.pro/" target="_blank">SunWeb.pro</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script>
    /*$(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() >= $(document).height()) {
            var last_id = $(".postid:last").attr("id");
            loadMore(last_id);
        }
    });

    function loadMore(last_id){
        $.ajax({
            url: 'load-more.php?last_id=' + last_id,
            type: "get",
            beforeSend: function(){
                $('.ajax-load').show();
            }
        }).done(function(data){
            $('.ajax-load').hide();
            $("#post-data").append(data);
        }).fail(function(jqXHR, ajaxOptions, thrownError){
            alert('server not responding...');
        });
    }*/
    /*$('.loader').hide();
    last_id=1;
    var is_loading = false; // initialize is_loading by false to accept new loading
    var limit = 4; // limit items per page
    $(function() {
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                $.ajax({
                    type: "POST",
                    url: "ActivitiesController.php",
                    data: "last_id="+ last_id,
                    beforeSend: function(){
                        $('.loader').show();
                    }
                }).done(function(data){
                    $('.loader').hide();
                    $("#post-data").append(data);
                }).fail(function(jqXHR, ajaxOptions, thrownError){
                    alert('server not responding...');
                    });
            }
        });
    });*/

    /*$(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
            var last_id = $("#card_list div:last-child").attr('id');
            loadMoreData(last_id);
        }
    });

    function loadMoreData(last_id) {
        $.ajax(
            {
                url: '../controllers/ActivitiesController.php?last_id=' + last_id ,
                type: "get",
                beforeSend: function () {
                    $('.ajax-load').show();
                }
            })
            .done(function (data) {
                $('.ajax-load').hide();
                $("#ticketHistoryData").append(data);
            })
            .fail(function (jqXHR, ajaxOptions, thrownError) {
                console.log('server not responding...');
            });
    }*/
     var last_id = 1;
     $.ajax({
            url: 'index.php',         /* Куда пойдет запрос */
            method: 'GET', 
            cache: false,            /* Метод передачи (post или get) */         /* Тип данных в ответе (xml, json, script, html). */
            data: {last_id: last_id},     /* Параметры передаваемые в запросе. */
            success: function(data){   /* функция которая будет выполнена после успешного запроса.  */
                //alert(data);            /* В переменной data содержится ответ от index.php. */
            }
        });
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
            last_id += 2;
            loadMoreData();
        }
    });


    function loadMoreData() {
        $.ajax({
            url: 'index.php',         /* Куда пойдет запрос */
            method: 'POST', 
            cache: false,            /* Метод передачи (post или get) */
            dataType: 'html',          /* Тип данных в ответе (xml, json, script, html). */
            data: {last_id: last_id},     /* Параметры передаваемые в запросе. */
            success: function(data){   /* функция которая будет выполнена после успешного запроса.  */
                //alert(data);            /* В переменной data содержится ответ от index.php. */
            }
        });
    }

    mybutton = document.getElementById("buttonToTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script> 
</body>
</html>