<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Портал</title>
    <script src="https://kit.fontawesome.com/30ac606873.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="/src/css/main.css" rel="stylesheet">
    {% if controller_name == 'admin' %}
        <link href="/src/css/admin.css" rel="stylesheet">
    {% else %}
        <link href="/src/css/sliders.css" rel="stylesheet">
    {% endif %}

</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">FilterO-Portal</a>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="/admin" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% if auth_user %}
                            {{ auth_user.login }}
                        {% else %}
                            Панель управления
                        {% endif %}
                        </a>
                        <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if auth_user %}
                                <li>
                                    <a href="/admin" class="dropdown-item">
                                        <img class="icons" src="/src/images/admin_panel.png">
                                        <span>Панель администратора</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/auth/logout">
                                        <img class="icons" src = "/src/images/logout.png">
                                        <span>Выход</span>
                                    </a>
                                </li>
                            
                            {% else %}
                                <li><a href="/auth/login" class="dropdown-item"><span><img class="icons" src = "/src/images/loginM.png"></span> Вход</a></li>

                        {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="content">
        {{ content | raw }}
    </main>

    <footer>
        <div class="text-center p-3 text-white">
            © 2022 SunWeb:
            <a class="text-white" href="https://sunweb.pro/" target="_blank">SunWeb.pro</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
    </script>
    {% if controller_name == 'admin' %}
        <script src="/src/scripts/admin.js"></script>
    {% else %}
        <script src="/src/scripts/main.js"></script>
        <script src="/src/scripts/activities.js"></script>
    {% endif %}

</body>
</html>