<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Портал</title>
    <script src="https://kit.fontawesome.com/30ac606873.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/src/css/main.css" rel="stylesheet">
    <link href="/src/css/admin.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">FilterO-Portal</a>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="/admin" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% if auth_user %}
                            {{ auth_user.first_name }}
                        {% else %}
                            Панель управления
                        {% endif %}
                        </a>
                        <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if auth_user %}
                        
                                <li><a href="/admin" class="dropdown-item"><span class="w-20 h-20"><img src = "/src/images/admin_panel.png"></span> Панель администратора</a></li>
                                <li><a class="dropdown-item" href="/admin"> <span><img src = "/src/images/profile.png"></span>  Профиль</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/auth/logout"><span><img src = "/src/images/logout.png"></span>  Выход</a></li>
                            
                            {% else %}
                                <li><a href="/auth/login" class="dropdown-item"><span><img src = "/src/images/loginM.png"></span> Вход</a></li>
                        {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="content">
        {{ content | raw }}
    </main>

    <footer>
        <div class="text-center p-3 text-white">
            © 2022 SunWeb:
            <a class="text-white" href="https://sunweb.pro/" target="_blank">SunWeb.pro</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="/src/scripts/main.js"></script>
</body>
</html>