<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Портал</title>
    <script src="https://kit.fontawesome.com/30ac606873.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        header {
            margin-bottom: 50px;
        }
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 100%;
        }
        .not_found {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Filtero</a>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        $USERNAME
                    </a>
                    <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Профиль <i class="fa-solid fa-address-card"></i></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Выход <i class="fa-solid fa-door-open"></i></a></li>
                    </ul>
                    </li>
                </ul>
        </div>
    </nav>
</header>

<main class="content">
    {{ content | raw }}
</main>

<footer class="bg-primary text-center text-white mt-auto">
  <div class="text-center p-3">
    © 2022 SunWeb:
    <a class="text-white" href="https://sunweb.pro/"  target="_blank">SunWeb.pro</a>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>